/* Global reset for margin, padding, and font */
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

/* Styling for the body */
body{
	background: #001e4d; /* Dark blue background */
}

/* Styling for the main application container */
.app{
	background: #fff; /* White background */
	width: 90%; /* Width of the container */
	max-width: 600px; /* Maximum width of the container */
	margin: 100px auto 0; /* Margin to center the container vertically */
	border-radius: 10px; /* Border radius for rounded corners */
	padding: 30px; /* Padding inside the container */
}

/* Styling for headings inside the application */
.app h1{
	font-size: 25px; /* Font size */
	color: #001e4d; /* Dark blue color */
	font-weight: 600; /* Font weight */
	border-bottom: 1px solid #333; /* Bottom border */
	padding-bottom: 30px; /* Padding below the heading */
}

/* Styling for the quiz section */
.quiz{
	padding: 20px 0; /* Padding above and below the quiz */
}

/* Styling for question headings */
.quiz h2{
	font-size: 18px; /* Font size */
}

/* Styling for answer buttons */
.btn{
	background: #fff; /* White background */
	color: #222; /* Dark text color */
	font-weight: 500; /* Font weight */
	width: 100%; /* Full width */
	border: 1px solid #222; /* Border */
	padding: 10px; /* Padding */
	margin: 10px 0; /* Margin */
	text-align: left; /* Text alignment */
	border-radius: 4px; /* Border radius for rounded corners */
	cursor: pointer; /* Cursor style */
	transition: all 0.3s; /* Transition effect for smooth hover */
}

/* Styling for hover effect on buttons */
.btn:hover:not([disabled]){
	background: #222; /* Dark background on hover */
	color: #fff; /* White text on hover */
}

/* Styling for disabled buttons */
.btn:disabled{
	cursor: no-drop; /* Cursor style */
}

/* Styling for the "Next" button */
#next-button{
	background: #001e4d; /* Dark blue background */
	color: #fff; /* White text color */
	font-weight: 500; /* Font weight */
	width: 150px; /* Width of the button */
	border: 0; /* No border */
	padding: 10px; /* Padding */
	margin: 20px auto 0; /* Margin */
	border-radius: 4px; /* Border radius for rounded corners */
	cursor: pointer; /* Cursor style */
	display: none; /* Initially hidden */
}

/* Styling for correct answers */
.correct{
	background: #9aeabc; /* Light green background */
}

/* Styling for incorrect answers */
.incorrect{
	background: #ff9393; /* Light red background */
}
